argcomplete==3.4.0
attr==0.3.2
boto==2.49.0
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.0.0
cryptography==43.0.0
Cython
dl==0.1.0
docutils==0.21.2
evdev==1.7.1
filelock==3.15.4
h2==4.1.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.3
jnius==1.1.0
js==1.0
jupyter_core==5.7.2
keyring==25.2.1
kivy==2.3.0
matplotlib==3.9.1
nltk==3.8.1
numpy==2.0.1
opencv_python==4.9.0.80
pefile==2023.2.7
Pillow==10.4.0
protobuf==5.27.2
psutil==6.0.0
py==1.11.0
pycparser==2.22
pyenchant==3.2.2
pygraphviz==1.13
pylsl==1.16.2
pyodide==0.0.2
pyOpenSSL==24.2.1
pypemicro==0.1.11
PyQt5==5.15.11
PyQt5_sip==12.13.0
PySide2==5.15.2.1
pytest==8.3.1
pyusb==1.2.1
qtpy==2.4.1
redis==5.0.7
setuptools_scm==8.1.0
simplejson==3.19.2
Sphinx==7.4.7
tensorflow==2.17.0
thread==2.0.5
tornado==6.4.1
traitlets==5.14.3
trove_classifiers==2024.7.2
urllib3_secure_extra==0.1.0
xattr==1.1.0
Xlib==0.21
xmlrpclib==1.0.1
zstandard==0.23.0
